
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

    background: url('https://miro.medium.com/v2/resize:fit:1080/1*HExFW_w7riS578zus2z3bA.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    width: 100%;
    max-width: 350px;
}

.login-box {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.login-box h2 {
    margin-bottom: 20px;
    color: #fff;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #6C63FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background-color: #594DD3;
}

.error {
    background: rgba(255, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.dashboard {
    background: linear-gradient(135deg, #42e695, #3bb2b8);
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
}

.dash-container {
    text-align: center;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #ff5f6d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #ff3c50;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header h1 {
    color: #0073e6;
}
nav a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}
footer {
    text-align: center;
    font-size: 14px;
    color: gray;
}
